export MAVEN_REPO_AWS_ACCESS_KEY_ID=...
export MAVEN_REPO_AWS_ACCESS_KEY_SECRET=...

# replace this in prod:
export JWT_SECRET=8e71dbe30b8dd667259f43b70a45be1d7f7317a1d4dccd4a2e809824165b9f01d76ff4f0e311608cbbd8a72c626ad71229c5cc9c0103ece9881980788649f0b2

export PORT=8080
export DISABLE_JWT_AUTH=1
export LOG_LEVEL=debug
#CORS_ALLOW=http://localhost:1234
export CORS_ALLOW='*'

# turn off -Xverify:none which is set in Leiningen's bin/.lein-wrapped script
# because it causes warnings in JVM 13
export LEIN_JVM_OPTS="${LEIN_JVM_OPTS-"-XX:+TieredCompilation -XX:TieredStopAtLevel=1"}"
export AWS_REGION=us-east-1


### Database configuration:
# Omitting these environment variables causes fallback to sensible defaults,
# which should work for most development environments. When manual configuration
# is required, two situations are supported: normal JDBC and Heroku. For normal
# JDBC configuration, set the following environment variables:
#
#DB_PIA_RUNSTORE=jdbc:postgresql://host:5432/pia_runstore?user=username&password=password
#DB_HL7=jdbc:postgresql://host:5432/hl7?user=username&password=password
#
# For Heroku, notice the indirection from HEROKUDB_ENV_VAR_* to a Heroku color
# URL. This is necessary because Heroku database color URLs are neither
# predictable nor configurable. When Heroku assigns the color, we'll set the
# well-known HEROKUDB_ENV_VAR_* variable to that color variable name, and
# resolve it to reach the actual database URL.
#
#HEROKUDB_ENV_VAR_PIA_RUNSTORE=HEROKU_POSTGRESQL_COLOR1_URL
#HEROKUDB_ENV_VAR_HL7=HEROKU_POSTGRESQL_COLOR2_URL
#HEROKU_POSTGRESQL_COLOR1_URL=postgres://username:password@host:5432/pia_runstore
#HEROKU_POSTGRESQL_COLOR2_URL=postgres://username:password@host:5432/hl7
#
# NB: When both HEROKUDB_* and DB_* environment variables are set, the Heroku
# ones take precedence. Doing this under normal operating conditions should not
# be necessary.
#
# Finally, to configure test suite databases, the following dedicated
# environment variables must be set:
#TESTDB_PIA_RUNSTORE=jdbc:postgresql://host:5432/test_pia_runstore?user=username&password=password
#TESTDB_HL7=jdbc:postgresql://host:5432/test_hl7?user=username&password=password
